<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>

<body>

    <div class="container m-5">
        <!-- bienvenida con un alert -->

        <div class="alert alert-success text-center" role="alert">
            <h1>Registro Consulta</h1>
        </div>

        {% if consultas %}
        <table id="example" class="table table-striped diplay" style="width: 100%">
            <thead>
                <tr>
                    <th scope="col">ID</th> 
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Diagnostico</th>
                    <th scope="col">Tratamiento</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Acciones</th>
                    
            
                </tr>
            </thead>
            <tbody>
                {% for consultas in consultas %}
                <tr>
                    <th scope="row">{{consultas.id}}</th>
                    <td>{{consultas.nombre}}</td>
                    <td>{{consultas.fecha}}</td>
                    <td>{{consultas.motivo}}</td>
                    <td>{{consultas.diagnostico}}</td>
                    <td>{{consultas.tratamiento}}</td>
                    <td>{{consultas.observaciones}}</td>
                    <td>{{consultas.valor}}</td>
                    
                    <td>
                        <a href="/editConsulta/{{consultas.id}}" class="btn btn-warning">Editar</a>
                        <a href="/eliminarConsulta/{{consultas.id}}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/addConsulta" class="btn btn-success">Agregar consulta</a>
        <a href="/" class="btn btn-primary float-end">Volver</a>
        <br>
        <strong>el promedio es: </strong> {{promedio.valor__avg}}
        <br>
        <strong>la suma es: </strong> {{suma.valor__sum}}
        {% else %}
        <div class="alert alert-danger text-center" role="alert">
            <h1>No hay registro</h1>
        </div>
        {% endif %}

        

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

                <!-- JQery CDN !-->
                <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
            <!-- JS DataTable !-->
            <script type="text/javascript" charset="utf8"
                src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
            <!-- Inicializacion JS !-->
            <script src={%static 'js/datatable.js' %}>  </script>

</body>

</html>